<form>
  <h3>Some basic info about you</h3>

  <div class="row">
    <div class="col-md-6">
      <label for="InputEmail">How old are you?</label>
      <input type="text" class="form-control" id="InputEmail" ng-model="enrollmentForm.age" placeholder="Enter an age&hellip;">
    </div>

    <div class="col-md-6">
      <label for="InputPassword">What zip code do you live in?</label>
      <input type="text" class="form-control" id="exampleInput1" ng-model="enrollmentForm.zipcode" placeholder="Enter a zip code&hellip;">
    </div>
  </div>

  <br>

  <button type="submit" class="btn btn-success" ng-click="submit()">Submit</button>
</form>
