<h1>Account Home</h1>
<div class="section bg-white section-padding" id="teamSection">
				<div class="container">
					<div class="text-center">
						<h3 class="text-upper">Tools</h3>
						<div class="row m-top-lg">
							<div class="col-md-3 text-center">
								<div class="team-wrapper fadeInLeft animation-element">
									<div class="team-inner">
										<div class="team-img-wrapper">
											<img src="../images/profile/profile3.jpg" alt="" class="img-circle team-avatar">
											<div class="team-profile-overlay"></div>	

											
										</div>
									</div>
									<div class="h4 no-m-bottom"><a class="btn btn-success">Go</a></div>
									<h2 class="text-muted">Find Health Insurance</h2>
								</div>
							</div><!-- ./col -->
							<div class="col-md-3 text-center">
								<div class="team-wrapper fadeInLeft animation-element animation-delay2">
									<div class="team-inner">
										<div class="team-img-wrapper">
											<img src="../images/profile/profile8.jpg" alt="" class="img-circle team-avatar">
											<div class="team-profile-overlay"></div>	

											
										</div>
									</div>
									<div class="h4 no-m-bottom"><a class="btn btn-success">Go</a></div>
									<h2 class="text-muted">Find Doctors</h2>
								</div>
							</div><!-- ./col -->
							<div class="col-md-3 text-center">
								<div class="team-wrapper fadeInLeft animation-element animation-delay4">
									<div class="team-inner">
										<div class="team-img-wrapper">
											<img src="../images/profile/profile5.jpg" alt="" class="img-circle team-avatar">
											<div class="team-profile-overlay"></div>	

											
										</div>
									</div>
									<div class="h4 no-m-bottom"><a class="btn btn-success">Go</a></div>
									<h2 class="text-muted">Check Coverage</h2>
								</div>
							</div><!-- ./col -->
							<div class="col-md-3 text-center">
								<div class="team-wrapper fadeInLeft animation-element animation-delay4">
									<div class="team-inner">
										<div class="team-img-wrapper">
											<img src="../images/profile/profile5.jpg" alt="" class="img-circle team-avatar">
											<div class="team-profile-overlay"></div>	

											
										</div>
									</div>
									<div class="h4 no-m-bottom"><a class="btn btn-success">Go</a></div>
									<h2 class="text-muted">Get Records</h2>
								</div>
							</div><!-- ./col -->
							<div class="col-md-3 text-center">
								<div class="team-wrapper fadeInLeft animation-element animation-delay6">
									<div class="team-inner">
										<div class="team-img-wrapper">
											<img src="../images/profile/profile6.jpg" alt="" class="img-circle team-avatar">
											<div class="team-profile-overlay"></div>	

								
										</div>
									</div>
									<div class="h4 no-m-bottom"><a class="btn btn-success">Go</a></div>
									<h2 class="text-muted">Health Cloud</h2>
								</div>
							</div><!-- ./col -->
						</div>
					</div>
				</div><!-- ./container -->
			</div>
