<div class="section bg-white section-padding" id="team-section">
  <div class="container">
    <div class="text-center">
      <div class="row m-top-lg">
        <div class="col-md-4 text-center">
          <div class="team-wrapper fadeInLeft animation-element">
            <div class="team-inner">
              <div class="team-img-wrapper">
                <i class="fa fa-heart"></i>
                <div class="team-profile-overlay"></div>
              </div>
            </div>
            <div class="h4 no-m-bottom"><a href="/onboarding" class="btn btn-success">Go</a></div>
            <h2 class="text-muted">Find Health Insurance</h2>
          </div>
        </div><!-- ./col -->

        <div class="col-md-4 text-center">
          <div class="team-wrapper fadeInLeft animation-element animation-delay2">
            <div class="team-inner">
              <div class="team-img-wrapper">
                <i class="fa fa-user-md"></i>
                <div class="team-profile-overlay"></div>
              </div>
            </div>
            <div class="h4 no-m-bottom"><a href="/doctors" class="btn btn-success">Go</a></div>
            <h2 class="text-muted">Find Doctors</h2>
          </div>
        </div><!-- ./col -->

        <div class="col-md-4 text-center">
          <div class="team-wrapper fadeInLeft animation-element animation-delay4">
            <div class="team-inner">
              <div class="team-img-wrapper">
                <span class="glyphicon glyphicon-check"></span>
                <div class="team-profile-overlay"></div>
              </div>
            </div>
            <div class="h4 no-m-bottom"><a href="/coverage" class="btn btn-success">Go</a></div>
            <h2 class="text-muted">Check Coverage</h2>
          </div>
        </div><!-- ./col -->

        <div class="col-md-4 text-center">
          <div class="team-wrapper fadeInLeft animation-element animation-delay4">
            <div class="team-inner">
              <div class="team-img-wrapper">
                <i class="fa fa-file-text"></i>
                <div class="team-profile-overlay"></div>
              </div>
            </div>
            <div class="h4 no-m-bottom"><a href="/records" class="btn btn-success">Go</a></div>
            <h2 class="text-muted">Get Records</h2>
          </div>
        </div><!-- ./col -->

        <div class="col-md-4 text-center">
          <div class="team-wrapper fadeInLeft animation-element animation-delay6">
            <div class="team-inner">
              <div class="team-img-wrapper">
                <i class="fa fa-cloud"></i>
                <div class="team-profile-overlay"></div>
              </div>
            </div>
            <div class="h4 no-m-bottom"><a href="/connect" class="btn btn-success">Go</a></div>
            <h2 class="text-muted">Health Cloud</h2>
          </div>
        </div><!-- ./col -->
      </div>
    </div>
  </div><!-- ./container -->
</div>
