<form name="applicationForm" ng-submit="apply()">
  <div id="enrollment-form" class="row ng-scope">
    <div class="col-md-12">
      <h1>Benefits Enrollment Application</h1>

      <div class="box box-warning" name="subscriber">
        <div class="box-header">
          <h3 class="box-title">Primary Applicant</h3>
        </div>

        <div class="box-body">
          <div class="form-group">
            <label class="control-label">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
          </div>
          <div class="form-group">
            <label class="control-label">Middle Name</label>
            <input type="text" class="form-control" id="middle_name" name="middle_name" placeholder="Middle Name">
          </div>
          <div class="form-group">
            <label class="control-label">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label class="control-label">Sex</label>
            <fieldset>
              <label class="radio-inline">
                <input type="radio" name="sex_indicate" id="" value="Male">
                Male
              </label>
              <label class="radio-inline">
                <input type="radio" name="sex_indicate" id="" value="Female">
                Female
              </label>
            </fieldset>
          </div>
          <div class="form-group">
            <label class="control-label">Social Security number</label>
            <input type="text" name="social_security_number" class="form-control" id="apartment_number" placeholder="Social Security number">
          </div>
          <div class="form-group">
            <label class="control-label">Date of birth (mm/dd/yy)</label>
            <input type="text" name="date_of_birth" class="form-control" id="apartment_number" placeholder="Date of birth (mm/dd/yy)">
          </div>
        </div>
      </div>

      <hr>

      <div class="box box-warning" name="subscriberContact">
        <div class="box-header">
          <h3 class="box-title">Contact Information</h3>
        </div>
        <div class="box-body">
          <div class="form-group">
            <label class="control-label">Street address</label>
            <input type="text" name="street_address" class="form-control" id="street_address" placeholder="Street address">
          </div>
          <div class="form-group">
            <label class="control-label">Apt. #</label>
            <input type="text" class="form-control" name="apartment_number" id="apartment_number" placeholder="Apt. #">
          </div>
          <div class="form-group">
            <label class="control-label">City</label>
            <input type="text" name="city" class="form-control" id="city" placeholder="City">
          </div>
          <div class="form-group">
            <label class="control-label">State</label>
            <input type="text" name="state" class="form-control" id="state" placeholder="State">
          </div>
          <div class="form-group">
            <label class="control-label">ZIP</label>
            <input type="text" name="zip" class="form-control" id="zip" placeholder="ZIP">
          </div>
          <div class="form-group">
            <label class="control-label">County</label>
            <input type="text" name="county" class="form-control" id="county" placeholder="County">
          </div>
          <div class="form-group">
            <label class="control-label">Phone</label>
            <input type="tel" name="phone" class="form-control" id="phone" placeholder="Phone">
          </div>
          <div class="form-group">
            <label class="control-label">Other phone</label>
            <input type="tel" name="other_phone" class="form-control" id="other_phone" placeholder="Other phone">
          </div>
        </div>
      </div>

      <hr>

      <div class="box box-warning">
        <div class="box-header">
          <h3 class="box-title">Previous Coverage</h3>
        </div>
        <div class="box-body">
          <div class="form-group">
            <label class="control-label">Have you previously had insurance coverage?</label>
            <fieldset>
              <label class="radio-inline">
                <input type="radio" name="coverage_experience" id="" value="Yes" ng-model="form.previousCoverage">
                Yes
              </label>
              <label class="radio-inline">
                <input type="radio" name="coverage_experience" id="" value="No" ng-model="form.previousCoverage">
                No
              </label>
            </fieldset>
          </div>

          <div class="form-group" ng-if="form.previousCoverage === 'Yes'">
            <label class="control-label">Medical record # (if any)</label>
            <input type="text" name="medical_record_number" class="form-control" id="apartment_number" placeholder="Medical record # (if any)">
          </div>

          <div class="form-group" ng-if="form.previousCoverage === 'Yes'">
            <label class="control-label">If Yes, most recent insurance carrier:</label>
            <input type="text" name="if_yes_most_recent_insurance_carrier" class="form-control" id="apartment_number" placeholder="If Yes, most recent insurance carrier:">
          </div>
          <div class="form-group" ng-if="form.previousCoverage === 'Yes'">
            <label class="control-label">Dates of coverage:</label>
            <input type="text" name="dates_of_coverage" class="form-control" id="apartment_number" placeholder="Dates of coverage:">
          </div>
        </div>

      </div>

      <hr>

      <div class="box box-warning">

        <div class="box box-warning">
          <div class="box-header">
            <h3 class="box-title">
              Family Member(s) to be Covered<br>
              <small>All members must reside in our Califonria service area.</small>
            </h3>
          </div>

          <a href="" class="btn btn-default" ng-click="addDependent()">Add Dependent</a>

          <div class="dependent" ng-repeat="i in getNumber(form.numberOfDependents)">
            <div class="box-header">
              <h4 class="text-center">Dependent {{$index + 1}}</h4>
            </div>
            <div class="box-body">
              <div class="row">

                <div class="form-group col-sm-12">
                  <label class="control-label">First name</label>
                  <input type="text" name="dependent_{{$index + 1}}_first_name" class="form-control" id="apartment_number" placeholder="First name">
                </div>
                <div class="form-group col-sm-12">
                  <label class="control-label">Middle name</label>
                  <input type="text" name="dependent_{{$index + 1}}_middle_name" class="form-control" id="apartment_number" placeholder="Middle name">
                </div>
                <div class="form-group col-sm-12">
                  <label class="control-label">Last name</label>
                  <input type="text" name="dependent_{{$index + 1}}_last_name" class="form-control" id="apartment_number" placeholder="Last name">
                </div>
                <div class="form-group col-sm-12">
                  <label class="control-label">Medical record # (if any)</label>
                  <input type="text" name="dependent_{{$index + 1}}_medical_record_number_if_any" class="form-control" id="apartment_number" placeholder="Medical record # (if any)">
                </div>

                <div class="form-group col-sm-5">
                  <label class="control-label">Social Security number</label>
                  <input type="text" name="dependent_{{$index + 1}}_social_security_number" class="form-control" id="apartment_number" placeholder="Social Security number">
                </div>
                <div class="form-group col-sm-4">
                  <label class="control-label">Date of birth (mm/dd/yy)</label>
                  <input type="text" name="dependent_{{$index + 1}}_date_of_birth" class="form-control" id="apartment_number" placeholder="Date of birth (mm/dd/yy)">
                </div>

                <div class="form-group">
                  <label class="control-label">Sex</label>
                  <fieldset>
                    <label class="radio-inline">
                      <input type="radio" name="dependent_{{$index + 1}}_sex_indicate" id="" value="Male">
                      Male
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="dependent_{{$index + 1}}_sex_indicate" id="" value="Female">
                      Female
                    </label>
                  </fieldset>
                </div>

                <div class="form-group col-sm-4 col-md-3">
                  <label class="control-label">Has this dependent previously had insurance coverage?</label>
                  <fieldset>
                    <label class="radio-inline">
                      <input type="radio" name="dependent_{{$index + 1}}_coverage_experience" id="" value="Yes">
                      Yes
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="dependent_{{$index + 1}}_coverage_experience" id="" value="No">
                      No
                    </label>
                  </fieldset>
                </div>

                <div class="form-group col-sm-4 col-md-5">
                  <label class="control-label">If Yes, most recent insurance carrier:</label>
                  <input type="text" name="dependent_{{$index + 1}}_if_yes_most_recent_insurance_carrier" class="form-control" id="apartment_number" placeholder="If Yes, most recent insurance carrier:">
                </div>
                <div class="form-group col-sm-4">
                  <label class="control-label">Dates of coverage:</label>
                  <input type="text" name="dependent_{{$index + 1}}_dates_of_coverage" class="form-control" id="apartment_number" placeholder="Dates of coverage:">
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="box box-warning">
          <div class="box-header">
            <h3 class="box-title">Parent or Legal Guardian</h3>
          </div>
          <div class="box-body">
            <div class="row">

              <div class="form-group col-sm-12">
                <label class="control-label">Do you have a parent or legal guardian you wish to cover?</label>
                <fieldset>
                  <label class="radio-inline">
                    <input type="radio" id="" value="Yes" ng-model="form.parentOrLegalGuardian">
                    Yes
                  </label>
                  <label class="radio-inline">
                    <input type="radio" id="" value="No" ng-model="form.parentOrLegalGuardian">
                    No
                  </label>
                </fieldset>
              </div>

              <div ng-if="form.parentOrLegalGuardian === 'Yes'" class="form-group col-sm-12">
                <label class="control-label">First name</label>
                <input type="text" name="parent_or_legal_guardian_first_name" class="form-control" id="apartment_number" placeholder="First name">
              </div>
              <div ng-if="form.parentOrLegalGuardian === 'Yes'" class="form-group col-sm-12">
                <label class="control-label">Middle name</label>
                <input type="text" name="parent_or_legal_guardian_middle_name" class="form-control" id="apartment_number" placeholder="Middle name">
              </div>
              <div ng-if="form.parentOrLegalGuardian === 'Yes'" class="form-group col-sm-12">
                <label class="control-label">Last name</label>
                <input type="text" name="parent_or_legal_guardian_last_name" class="form-control" id="apartment_number" placeholder="Last name">
              </div>
              <div ng-if="form.parentOrLegalGuardian === 'Yes'" class="form-group col-sm-12">
                <label class="control-label">Parent/Legal Guardian Social Security number</label>
                <input type="text" name="parent_or_legal_guardian_social_security_number" class="form-control" id="apartment_number" placeholder="Parent/Legal Guardian Social Security number">
              </div>

              <div ng-if="form.parentOrLegalGuardian === 'Yes'" class="form-group col-sm-8">
                <label class="control-label">Relationship to applicant</label>
                <fieldset>
                  <label class="radio-inline">
                    <input type="radio" name="parent_or_legal_guardian_rel_to_applicant" value="Parent/Guardian">
                    Parent/Guardian
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="parent_or_legal_guardian_rel_to_applicant" value="Spouse">
                    Spouse
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="parent_or_legal_guardian_rel_to_applicant" value="Domestic partner">
                    Domestic partner
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="parent_or_legal_guardian_rel_to_applicant" value="Other">
                    Other
                  </label>
                </fieldset>
              </div>
              <div ng-if="form.parentOrLegalGuardian === 'Yes'" class="form-group col-sm-4">
                <label class="control-label">Same address as primary applicant?</label>
                <fieldset>
                  <label class="radio-inline">
                    <input type="radio" name="parent_or_legal_guardian_same_address" value="Yes">
                    Yes
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="parent_or_legal_guardian_same_address" value="No">
                    No
                  </label>
                </fieldset>
              </div>

              <div ng-if="form.parentOrLegalGuardian === 'Yes'" class="form-group col-sm-12">
                <label class="control-label">Street address</label>
                <input type="text" name="parent_or_legal_guardian_street_address" class="form-control" id="apartment_number" placeholder="Street address">
              </div>
              <div ng-if="form.parentOrLegalGuardian === 'Yes'" class="form-group col-sm-12">
                <label class="control-label">Apt. #</label>
                <input type="text" name="parent_or_legal_guardian_apartment_number" class="form-control" id="apartment_number" placeholder="Apt. #">
              </div>
              <div ng-if="form.parentOrLegalGuardian === 'Yes'" class="form-group col-sm-5">
                <label class="control-label">City</label>
                <input type="text" name="parent_or_legal_guardian_city" class="form-control" id="apartment_number" placeholder="City">
              </div>
              <div ng-if="form.parentOrLegalGuardian === 'Yes'" class="form-group col-sm-2">
                <label class="control-label">State</label>
                <input type="text" name="parent_or_legal_guardian_state" class="form-control" id="apartment_number" placeholder="State">
              </div>
              <div ng-if="form.parentOrLegalGuardian === 'Yes'" class="form-group col-sm-2">
                <label class="control-label">ZIP</label>
                <input type="text" name="parent_or_legal_guardian_zip" class="form-control" id="apartment_number" placeholder="ZIP">
              </div>
              <div ng-if="form.parentOrLegalGuardian === 'Yes'" class="form-group col-sm-12">
                <label class="control-label">County</label>
                <input type="text" name="parent_or_legal_guardian_county" class="form-control" id="apartment_number" placeholder="County">
              </div>
              <div ng-if="form.parentOrLegalGuardian === 'Yes'" class="form-group col-sm-6">
                <label class="control-label">Phone</label>
                <input type="tel" name="parent_or_legal_guardian_phone" class="form-control" id="apartment_number" placeholder="Phone">
              </div>
              <div ng-if="form.parentOrLegalGuardian === 'Yes'" class="form-group col-sm-6">
                <label class="control-label">Other phone</label>
                <input type="tel" name="parent_or_legal_guardian_other_phone" class="form-control" id="apartment_number" placeholder="Other phone">
              </div>
              <div ng-if="form.parentOrLegalGuardian === 'Yes'" class="form-group col-sm-8">
                <label class="control-label">Parent/Legal guardian date of birth (mm/dd/yy)</label>
                <input type="text" name="parent_or_legal_guardian_date_of_birth" class="form-control" id="apartment_number" placeholder="Parent/Legal guardian date of birth (mm/dd/yy)">
              </div>

              <div ng-if="form.parentOrLegalGuardian === 'Yes'" class="form-group col-sm-4">
                <label class="control-label">Parent/Legal guardian Sex</label>
                <fieldset>
                  <label class="radio-inline">
                    <input type="radio" name="parent_or_legal_guardian_sex_indicate" id="" value="Male">
                    Male
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="parent_or_legal_guardian_sex_indicate" id="" value="Female">
                    Female
                  </label>
                </fieldset>
              </div>

              <div ng-if="form.parentOrLegalGuardian === 'Yes'" class="form-group col-sm-6">
                <label class="control-label">Preferred language spoken (if not English)</label>
                <input type="text" class="form-control" name="parent_or_legal_guardian_language_spoken" id="apartment_number" placeholder="Preferred language spoken (if not English)">
              </div>
              <div ng-if="form.parentOrLegalGuardian === 'Yes'" class="form-group col-sm-6">
                <label class="control-label">Preferred language read (if not English)</label>
                <input type="text" class="form-control" name="parent_or_legal_guardian_language_read" id="apartment_number" placeholder="Preferred language read (if not English)">
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="box box-warning">
          <div class="box-header">
            <h3 class="box-title">You can choose an authorized representative</h3>
          </div>
          <div class="box-body">
            <div class="row">

              <div class="form-group col-sm-12">
                <label class="control-label">Do you wish to choose an authorized representative?</label>
                <fieldset>
                  <label class="radio-inline">
                    <input type="radio" id="" value="Yes" ng-model="form.authorizedRepresentative">
                    Yes
                  </label>
                  <label class="radio-inline">
                    <input type="radio" id="" value="No" ng-model="form.authorizedRepresentative">
                    No
                  </label>
                </fieldset>
              </div>

              <div ng-if="form.authorizedRepresentative === 'Yes'" class="form-group col-sm-4">
                <label class="control-label">First name of authorized representative</label>
                <input type="text" name="authorized_representative_first_name" class="form-control" id="apartment_number" placeholder="First name of authorized representative">
              </div>
              <div ng-if="form.authorizedRepresentative === 'Yes'" class="form-group col-sm-4">
                <label class="control-label">Middle name</label>
                <input type="text" name="authorized_representative_middle_name" class="form-control" id="apartment_number" placeholder="Middle name">
              </div>
              <div ng-if="form.authorizedRepresentative === 'Yes'" class="form-group col-sm-4">
                <label class="control-label">Last name</label>
                <input type="text" name="authorized_representative_last_name" class="form-control" id="apartment_number" placeholder="Last name">
              </div>

              <div ng-if="form.authorizedRepresentative === 'Yes'" class="form-group col-sm-12">
                <label class="control-label">Street address</label>
                <input type="text" name="authorized_representative_street_address" class="form-control" id="apartment_number" placeholder="Street address">
              </div>
              <div ng-if="form.authorizedRepresentative === 'Yes'" class="form-group col-sm-12">
                <label class="control-label">Apt. #</label>
                <input type="text" name="authorized_representative_apartment_number" class="form-control" id="apartment_number" placeholder="Apt. #">
              </div>
              <div ng-if="form.authorizedRepresentative === 'Yes'" class="form-group col-sm-6">
                <label class="control-label">City</label>
                <input type="text" name="authorized_representative_city" class="form-control" id="apartment_number" placeholder="City">
              </div>
              <div ng-if="form.authorizedRepresentative === 'Yes'" class="form-group col-sm-12">
                <label class="control-label">State</label>
                <input type="text" name="authorized_representative_street" class="form-control" id="apartment_number" placeholder="State">
              </div>
              <div ng-if="form.authorizedRepresentative === 'Yes'" class="form-group col-sm-12">
                <label class="control-label">ZIP</label>
                <input type="text" name="authorized_representative_zip" class="form-control" id="apartment_number" placeholder="ZIP">
              </div>

              <div ng-if="form.authorizedRepresentative === 'Yes'" class="form-group col-sm-6">
                <label class="control-label">Phone</label>
                <input type="tel" name="authorized_representative_phone" class="form-control" id="apartment_number" placeholder="Phone">
              </div>

            </div>

            <hr>

            <div class="row">
              <div class="form-group col-sm-12">
                <p>By signing, you allow this person to sign your application, to get official information about this application, and to act for you on matters related to this application.</p>
              </div>
              <div class="form-group col-sm-8">
                <label class="control-label">Primary applicant or parent or legal guardian for applicants under age 18</label>
                <input type="text" name="authorized_representative_primary_applicant" class="form-control" id="apartment_number" placeholder="Primary applicant or parent or legal guardian for applicants under age 18">
              </div>
              <div class="form-group col-sm-4">
                <label class="control-label">Date (mm/dd/yyyy)</label>
                <input type="text" name="authorized_representative_date" class="form-control" id="apartment_number" placeholder="Date (mm/dd/yyyy)">
              </div>
            </div>

          </div>
        </div>
      </div>

      <input type="submit" class="btn btn-primary" ng-click="submit()" value="Apply">
    </div>
  </div>
</form>

