
<div class="col-sm-12">
  <div class="row">
    <h2>Blue Shield of California</h2>
    <h3>Plan Details</h3>
    <div class="col-md-12">
           <!--panel-->


<div class="row">
<table class="plan-4 table table-hover the-fine-print">
<tbody><tr>
<th class="term-title">&nbsp;</th>
<th class="data">PPO Bronze 60</th>
</tr>
<tr>
 <div class="panel panel-group">
	 <div class="panel panel-default">
	    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseOverviewList">
	      <h3 class="panel-title">Plan Overview</h3>
	    </div>
	    <ul id="collapseOverviewList" class="list-group collapse" style="height: 0px;">

	    	<li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">PPO Plan</div>
	               <div class="col-xs-4 col-xs-height col-full-height">In Network</div>
	               <div class="col-xs-4 col-xs-height col-full-height">Out of Network</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Deductible</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$5,000</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$6,000</div>
	           </div>
	       </li>
	       
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Maximum Out-of-Pocket</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$6,500</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$8,000</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Coinsurance</div>
	               <div class="col-xs-4 col-xs-height col-full-height">20%</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>

	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Doctor Visits</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$45-$150</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Prescriptions</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$20-$100</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$20-$100</div>
	           </div>
	       </li>
	    </ul>
    </div>
    <div class="panel panel-default">
	    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseVisitsList">
	      <h3 class="panel-title">Office Visits</h3>
	    </div>
	    <ul id="collapseVisitsList" class="list-group collapse" style="height: 0px;">

	    	<li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">PPO Plan</div>
	               <div class="col-xs-4 col-xs-height col-full-height">In Network</div>
	               <div class="col-xs-4 col-xs-height col-full-height">Out of Network</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Doctor Visit</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$45</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Specialist Visit</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$75</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">X-Ray</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$200</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">MRI</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$2,000</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	    </ul>
    </div>
    <div class="panel panel-default">
	    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseVisitsList">
	      <h3 class="panel-title">Perscriptions</h3>
	    </div>
	    <ul id="collapseVisitsList" class="list-group collapse" style="height: 0px;">

	    	<li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">PPO Plan</div>
	               <div class="col-xs-4 col-xs-height col-full-height">In Network</div>
	               <div class="col-xs-4 col-xs-height col-full-height">Out of Network</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Drug Deductable</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$45-$150</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Generic</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$15</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Brand</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$30</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Specialty</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$50</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	    </ul>
    </div>
    <div class="panel panel-default">
	    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseVisitsList">
	      <h3 class="panel-title">Hospital Services</h3>
	    </div>
	    <ul id="collapseVisitsList" class="list-group collapse" style="height: 0px;">

	    	<li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">PPO Plan</div>
	               <div class="col-xs-4 col-xs-height col-full-height">In Network</div>
	               <div class="col-xs-4 col-xs-height col-full-height">Out of Network</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Emergency Room</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$200</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Hospital Stay</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$1,000</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Child Birth</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$3,000</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	    </ul>
    </div>
    <div class="panel panel-default">
	    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseVisitsList">
	      <h3 class="panel-title">Emergencies</h3>
	    </div>
	    <ul id="collapseVisitsList" class="list-group collapse" style="height: 0px;">

	    	<li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">PPO Plan</div>
	               <div class="col-xs-4 col-xs-height col-full-height">In Network</div>
	               <div class="col-xs-4 col-xs-height col-full-height">Out of Network</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Broken Leg</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$750</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Car Accident</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$4,500</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Heart Attack</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$4,500</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	    </ul>
    </div>
    <div class="panel panel-default">
	    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseVisitsList">
	      <h3 class="panel-title">Major Illness</h3>
	    </div>
	    <ul id="collapseVisitsList" class="list-group collapse" style="height: 0px;">

	    	<li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">PPO Plan</div>
	               <div class="col-xs-4 col-xs-height col-full-height">In Network</div>
	               <div class="col-xs-4 col-xs-height col-full-height">Out of Network</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Diabetes Treatment</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$750</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Cancer treatment</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$4,500</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	    </ul>
    </div>

	            <table class="plan-4 table table-hover the-fine-print">
<tbody><tr><td class="plan-4 term-title">Plan Network</td>
<td class="data plan-4">HMO</td>
<td class="data plan-4">PPO</td>
<td class="data plan-4">HMO</td>
<td class="data plan-4">EPO</td>
</tr>
</tbody>
</table>

          	</div><!--/panel-->

<th class="category-title" colspan="5"></th>
</tr>
<tr>
<td class="plan-4 term-title">Plan Network</td>
<td class="data plan-4">HMO</td>
<td class="data plan-4">PPO</td>
<td class="data plan-4">HMO</td>
<td class="data plan-4">EPO</td>
</tr>
<tr>
<td class="plan-4 term-title">Deductible</td>
<td class="data plan-4">$4,500</td>
<td class="data plan-4">$5,000</td>
<td class="data plan-4">$5,000</td>
<td class="data plan-4">$1,000</td>
</tr>
<tr>
<td class="plan-4 term-title">Annual Out-of-Pocket Limit</td>
<td class="data plan-4">$6,250 includes deductible</td>
<td class="data plan-4">$6,250 includes deductible</td>
<td class="data plan-4">$6,250 includes deductible</td>
<td class="data plan-4">$4,500 includes deductible</td>
</tr>
<tr>
<td class="plan-4 term-title">Coinsurance</td>
<td class="data plan-4">40%</td>
<td class="data plan-4">30%</td>
<td class="data plan-4">30%</td>
<td class="data plan-4">20%</td>
</tr>
<tr>
<td class="plan-4 term-title">Drug Deductible</td>
<td class="data plan-4">Medical deductible applies</td>
<td class="data plan-4">Medical deductible applies</td>
<td class="data plan-4">Medical deductible applies</td>
<td class="data plan-4">$250 Individual</td>
</tr>
<tr>
<td class="plan-4 term-title">Lifetime Maximum</td>
<td class="data plan-4">None</td>
<td class="data plan-4">None</td>
<td class="data plan-4">None</td>
<td class="data plan-4">None</td>
</tr>
<tr>
<td class="plan-4 term-title">HSA Eligible</td>
<td class="data plan-4">Yes</td>
<td class="data plan-4">No</td>
<td class="data plan-4">No</td>
<td class="data plan-4">No</td>
</tr>
<tr>
<td class="plan-4 term-title">Application Fee</td>
<td class="data plan-4">No</td>
<td class="data plan-4">No</td>
<td class="data plan-4">No</td>
<td class="data plan-4">No</td>
</tr>
<tr>
<th class="category-title" colspan="5">Doctor Visits</th>
</tr>
<tr>
<td class="plan-4 term-title">Office Visit</td>
<td class="data plan-4">40% after deductible</td>
<td class="data plan-4">$60 Copay, 1st 3 OVs*</td>
<td class="data plan-4">$60 Copay after deductible , Ded. Wvd. for 1st 3 visits</td>
<td class="data plan-4">$20 Copay</td>
</tr>
<tr>
<td class="plan-4 term-title">Specialist Visit</td>
<td class="data plan-4">40% after deductible</td>
<td class="data plan-4">$70 Copay after deductible</td>
<td class="data plan-4">$70 Copay after deductible</td>
<td class="data plan-4">$30 Copay</td>
</tr>
<tr>
<td class="plan-4 term-title">Primary Care Doctor Required</td>
<td class="data plan-4">No</td>
<td class="data plan-4">No</td>
<td class="data plan-4">No</td>
<td class="data plan-4">No</td>
</tr>
<tr>
<td class="plan-4 term-title">Specialist Referrals Required</td>
<td class="data plan-4">No</td>
<td class="data plan-4">No</td>
<td class="data plan-4">No</td>
<td class="data plan-4">No</td>
</tr>
<tr>
<th class="category-title" colspan="5">Prescription Drugs</th>
</tr>
<tr>
<td class="plan-4 term-title">Drug Deductible</td>
<td class="data plan-4">Medical deductible applies</td>
<td class="data plan-4">Medical deductible applies</td>
<td class="data plan-4">Medical deductible applies</td>
<td class="data plan-4">$250 Individual</td>
</tr>
<tr>
<td class="plan-4 term-title">Generic Drugs</td>
<td class="data plan-4">40% After Ded.</td>
<td class="data plan-4">$15 copay</td>
<td class="data plan-4">$15 copay</td>
<td class="data plan-4">$5 copay</td>
</tr>
<tr>
<td class="plan-4 term-title">Brand Drugs</td>
<td class="data plan-4">40% After Ded.</td>
<td class="data plan-4">$50 copay</td>
<td class="data plan-4">$50 copay</td>
<td class="data plan-4">$15 copay</td>
</tr>
<tr>
<td class="plan-4 term-title">Non-Formulary Drugs</td>
<td class="data plan-4">40% After Ded.</td>
<td class="data plan-4">30% coinsurance</td>
<td class="data plan-4">30% coinsurance</td>
<td class="data plan-4">20% coinsurance</td>
</tr>
<tr>
<th class="category-title" colspan="5">Preventive Care</th>
</tr>
<tr>
<td class="plan-4 term-title">Annual Physical</td>
<td class="data plan-4">Included</td>
<td class="data plan-4">Included</td>
<td class="data plan-4">Included</td>
<td class="data plan-4">Included</td>
</tr>
<tr>
<td class="plan-4 term-title">Annual OB/GYN Checkup</td>
<td class="data plan-4">Included</td>
<td class="data plan-4">Included</td>
<td class="data plan-4">Included</td>
<td class="data plan-4">Included</td>
</tr>
<tr>
<td class="plan-4 term-title">Well Baby Care</td>
<td class="data plan-4">Included</td>
<td class="data plan-4">Included</td>
<td class="data plan-4">Included</td>
<td class="data plan-4">Included</td>
</tr>
<tr>
<th class="category-title" colspan="5">Hospital Coverage</th>
</tr>
<tr>
<td class="plan-4 term-title">Emergency Room</td>
<td class="data plan-4">40% after deductible</td>
<td class="data plan-4">$300 Copay after deductible , waived if admitted</td>
<td class="data plan-4">$300 Copay after deductible , waived if admitted</td>
<td class="data plan-4">$175 Copay, waived if admitted</td>
</tr>
<tr>
<td class="plan-4 term-title">Labs, Tests, and Scans</td>
<td class="data plan-4">40% after deductible</td>
<td class="data plan-4">30% after deductible</td>
<td class="data plan-4">30% after deductible</td>
<td class="data plan-4">Lab: $20 Copay; X-ray: $30 Copay; Major: 20% after deductible</td>
</tr>
<tr>
<td class="plan-4 term-title">Outpatient Surgery</td>
<td class="data plan-4">Surgery: 40% after deductible</td>
<td class="data plan-4">Surgery: 30% after deductible</td>
<td class="data plan-4">Surgery: 30% after deductible</td>
<td class="data plan-4">Surgery: 20% after deductible</td>
</tr>
<tr>
<td class="plan-4 term-title">Hospitalization</td>
<td class="data plan-4">40% after deductible</td>
<td class="data plan-4">30% after deductible</td>
<td class="data plan-4">30% after deductible</td>
<td class="data plan-4">20% after deductible</td>
</tr>
<tr>
<th class="category-title" colspan="5">Out of Network Coverage</th>
</tr>
<tr>
<td class="plan-4 term-title">Out of Network Coverage</td>
<td class="data plan-4">No</td>
<td class="data plan-4">Yes</td>
<td class="data plan-4">No</td>
<td class="data plan-4">No</td>
</tr>
<tr>
<td class="plan-4 term-title">Out-of-Network Authorization Required</td>
<td class="data plan-4">Not Covered</td>
<td class="data plan-4">No</td>
<td class="data plan-4">Not Covered</td>
<td class="data plan-4">Not Covered</td>
</tr>
<tr>
<td class="plan-4 term-title">Out-of-Network Deductible</td>
<td class="data plan-4"></td>
<td class="data plan-4">$10,000</td>
<td class="data plan-4"></td>
<td class="data plan-4"></td>
</tr>
<tr>
<td class="plan-4 term-title">Out-of-Network Coinsurance</td>
<td class="data plan-4"></td>
<td class="data plan-4">50%</td>
<td class="data plan-4"></td>
<td class="data plan-4"></td>
</tr>
<tr>
<td class="plan-4 term-title">Out-of-Network Out-of-Pocket Limit</td>
<td class="data plan-4"></td>
<td class="data plan-4">$12,500</td>
<td class="data plan-4"></td>
<td class="data plan-4"></td>
</tr>
<tr>
<td class="plan-4 term-title">Out of Country Coverage</td>
<td class="data plan-4">Emergency Coverage Only</td>
<td class="data plan-4">Emergency Coverage Only</td>
<td class="data plan-4">Emergency Coverage Only</td>
<td class="data plan-4">Emergency Coverage Only</td>
</tr>
<tr>
<th class="category-title" colspan="5">Additional Coverage</th>
</tr>
<tr>
<td class="plan-4 term-title">Chiropractic</td>
<td class="data plan-4"></td>
<td class="data plan-4"></td>
<td class="data plan-4"></td>
<td class="data plan-4"></td>
</tr>
<tr>
<td class="plan-4 term-title">Mental Health</td>
<td class="data plan-4"></td>
<td class="data plan-4"></td>
<td class="data plan-4"></td>
<td class="data plan-4"></td>
</tr>
<tr>
<td class="plan-4 term-title">Substance Abuse</td>
<td class="data plan-4"></td>
<td class="data plan-4"></td>
<td class="data plan-4"></td>
<td class="data plan-4"></td>
</tr>
<tr>
<td class="plan-4 term-title">Pre &amp; Post Natal Office Visits</td>
<td class="data plan-4">40% after deductible</td>
<td class="data plan-4">$60 Copay, 1st 3 OVs*</td>
<td class="data plan-4">$60 Copay after deductible , Ded. Wvd. for 1st 3 visits</td>
<td class="data plan-4">$20 Copay</td>
</tr>
<tr>
<td class="plan-4 term-title">Labor &amp; Delivery Hospital Stay</td>
<td class="data plan-4">40% after deductible</td>
<td class="data plan-4">30% after deductible</td>
<td class="data plan-4">30% after deductible</td>
<td class="data plan-4">20% after deductible</td>
</tr>
</tbody></table>
</div>
</div>


       <div class="panel panel-group">
	         <div class="panel panel-default">
	            <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseList">
	              <h3 class="panel-title">
	              	Plan Features
	              </h3>
	            </div>
	            <ul id="collapseList" class="list-group collapse" style="height: 0px;">
	               <li class="list-group-item">Deductible: $5,000</li>
	               <li class="list-group-item">Out-of-Pocket Maximum: $6,450</li>
	               <li class="list-group-item">Primary Care Visit: 25%</li>
	               <li class="list-group-item">Urgent Care: $50</li>
	            </ul>
          	</div><!--/panel-->
	          	<div class="panel panel-default">
		            <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseList">
		              <h3 class="panel-title">
		              	Collapsible List Group
		              </h3>
		            </div>
		            <ul id="collapseList" class="list-group collapse" style="height: 0px;">
		               <li class="list-group-item">Bootply</li>
		               <li class="list-group-item">Triveo</li>
		               <li class="list-group-item">Behance</li>
		            </ul>
	          	</div><!--/panel--> <!--panel-->
	          
	          
	          <!--panel-->
	          <div class="panel panel-default" id="thisPanel">
	            <div class="panel-heading">
	                <a class="panel-close close" data-dismiss="alert" data-target="#thisPanel">×</a> 
	                <h3 class="panel-title">
	              	 Closable List Group
	              	</h3>
	            </div>
	            <ul class="list-group">
	               <li class="list-group-item">Bootply</li>
	               <li class="list-group-item">Triveo</li>
	               <li class="list-group-item">Behance</li>
	               <li class="list-group-item">Zillow</li>
	            </ul>
	          </div><!--/panel-->
	          
	        </div>
	        </div>
	        </div>
    	<div class="col-sm-6">
			<div class="panel">
				<div class="panel-heading">
					<h3 class="panel-title">Insurance Plan Benefit Details</h3>
				</div>

				
	
				<!-- Foo Table - Expand / Collapse All Rows -->
				<!--===================================================-->
				<div class="panel-body">
					<div class="pad-btm">
						<button id="demo-foo-collapse" class="btn btn-info">Collapse All</button>
						<button id="demo-foo-expand" class="btn btn-warning">Expand All</button>
					</div>
					<table id="demo-foo-col-exp" class="table toggle-circle">
						<thead>
							<tr>
								<th data-toggle="true">Carrier/th>
								<th>Plan</th>
								<th data-hide="all">Plan Type</th>
								<th data-hide="all">Monthly Premium</th>
								<th data-hide="all">Deductable</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Isidra</td>
								<td>Boudreaux</td>
								<td>Traffic Court Referee</td>
								<td>22 Jun 1972</td>
								<td><span class="label label-table label-success">Active</span></td>
							</tr>
							<tr>
								<td>Shona</td>
								<td>Woldt</td>
								<td>Airline Transport Pilot</td>
								<td>3 Oct 1981</td>
								<td><span class="label label-table label-dark">Disabled</span></td>
							</tr>
							<tr>
								<td>Granville</td>
								<td>Leonardo</td>
								<td>Business Services Sales Representative</td>
								<td>19 Apr 1969</td>
								<td><span class="label label-table label-danger">Suspended</span></td>
							</tr>
							<tr>
								<td>Easer</td>
								<td>Dragoo</td>
								<td>Drywall Stripper</td>
								<td>13 Dec 1977</td>
								<td><span class="label label-table label-success">Active</span></td>
							</tr>
							<tr>
								<td>Maple</td>
								<td>Halladay</td>
								<td>Aviation Tactical Readiness Officer</td>
								<td>30 Dec 1991</td>
								<td><span class="label label-table label-danger">Suspended</span></td>
							</tr>
							<tr>
								<td>Maxine</td>
								<td><a href="#">Woldt</a></td>
								<td><a href="#">Business Services Sales Representative</a></td>
								<td>17 Oct 1987</td>
								<td><span class="label label-table label-dark">Disabled</span></td>
							</tr>
							<tr>
								<td>Lorraine</td>
								<td>Mcgaughy</td>
								<td>Hemodialysis Technician</td>
								<td>11 Nov 1983</td>
								<td><span class="label label-table label-dark">Disabled</span></td>
							</tr>
							<tr>
								<td>Lizzee</td>
								<td><a href="#">Goodlow</a></td>
								<td>Technical Services Librarian</td>
								<td>1 Nov 1961</td>
								<td><span class="label label-table label-danger">Suspended</span></td>
							</tr>
							<tr>
								<td>Judi</td>
								<td>Badgett</td>
								<td>Electrical Lineworker</td>
								<td>23 Jun 1981</td>
								<td><span class="label label-table label-success">Active</span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!--===================================================-->
				<!-- End Foo Table - Expand / Collapse All Rows -->
    <p>Lorem ipsum&hellip;</p>
  </div>
</div>

