
<div class="col-sm-12">
  <div class="row">
    <h2>Blue Shield of California</h2>
    <h3>Plan Details</h3>
           <!--panel-->



 <div class="panel panel-group">
	 <div class="panel panel-default">
	    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseOverviewList">
	      <h3 class="panel-title">Plan Overview</h3>
	    </div>
	    <ul id="collapseOverviewList" class="list-group collapse" style="height: 0px;">

	    	<li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">PPO Plan</div>
	               <div class="col-xs-4 col-xs-height col-full-height">In Network</div>
	               <div class="col-xs-4 col-xs-height col-full-height">Out of Network</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Deductible</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$5,000</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$6,000</div>
	           </div>
	       </li>
	       
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Maximum Out-of-Pocket</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$6,500</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$8,000</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Coinsurance</div>
	               <div class="col-xs-4 col-xs-height col-full-height">20%</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>

	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Doctor Visits</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$45-$150</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Prescriptions</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$20-$100</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$20-$100</div>
	           </div>
	       </li>
	    </ul>
    </div>
    <div class="panel panel-default">
	    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseVisitsList">
	      <h3 class="panel-title">Doctor Visits</h3>
	    </div>
	    <ul id="collapseVisitsList" class="list-group collapse" style="height: 0px;">

	    	<li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">PPO Plan</div>
	               <div class="col-xs-4 col-xs-height col-full-height">In Network</div>
	               <div class="col-xs-4 col-xs-height col-full-height">Out of Network</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Doctor Visit</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$45</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Specialist Visit</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$75</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">X-Ray</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$200</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">MRI</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$2,000</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	    </ul>
    </div>
    <div class="panel panel-default">
	    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapsePerscriptionsList">
	      <h3 class="panel-title">Perscriptions</h3>
	    </div>
	    <ul id="collapsePerscriptionsList" class="list-group collapse" style="height: 0px;">

	    	<li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">PPO Plan</div>
	               <div class="col-xs-4 col-xs-height col-full-height">In Network</div>
	               <div class="col-xs-4 col-xs-height col-full-height">Out of Network</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Drug Deductable</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$45-$150</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Generic</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$15</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Brand</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$30</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Specialty</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$50</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	    </ul>
    </div>
    <div class="panel panel-default">
	    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseHospitalList">
	      <h3 class="panel-title">Hospital Services</h3>
	    </div>
	    <ul id="collapseHospitalList" class="list-group collapse" style="height: 0px;">

	    	<li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">PPO Plan</div>
	               <div class="col-xs-4 col-xs-height col-full-height">In Network</div>
	               <div class="col-xs-4 col-xs-height col-full-height">Out of Network</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Emergency Room</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$200</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Hospital Stay</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$1,000</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Child Birth</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$3,000</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	    </ul>
    </div>
    <div class="panel panel-default">
	    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseEmergencyList">
	      <h3 class="panel-title">Emergencies</h3>
	    </div>
	    <ul id="collapseEmergencyList" class="list-group collapse" style="height: 0px;">

	    	<li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">PPO Plan</div>
	               <div class="col-xs-4 col-xs-height col-full-height">In Network</div>
	               <div class="col-xs-4 col-xs-height col-full-height">Out of Network</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Broken Leg</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$750</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Car Accident</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$4,500</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Heart Attack</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$4,500</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	    </ul>
    </div>
    <div class="panel panel-default">
	    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseIllnessList">
	      <h3 class="panel-title">Major Illness</h3>
	    </div>
	    <ul id="collapseIllnessList" class="list-group collapse" style="height: 0px;">

	    	<li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">PPO Plan</div>
	               <div class="col-xs-4 col-xs-height col-full-height">In Network</div>
	               <div class="col-xs-4 col-xs-height col-full-height">Out of Network</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Diabetes Treatment</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$750</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-4 col-xs-height col-full-height">Cancer treatment</div>
	               <div class="col-xs-4 col-xs-height col-full-height">$4,500</div>
	               <div class="col-xs-4 col-xs-height col-full-height">50%</div>
	           </div>
	       </li>
	    </ul>
    </div>
</div>
</div>

