<h3>Select the doctor that you want</h3>

<form>
	<input type="text" class="form-control" id="InputEmail" placeholder="Search">
</form>
<div class="row doctors-row">
	<div class="col-md-3">
		<!-- Images just place filler for testing. Please replace -->
	<img src="http://fakeimg.pl/150x150/"><img src="http://fakeimg.pl/150x150/">
		
	</div>
	<div class="col-md-9">
		<table class="table table-condensed table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Rating</th> 
					<th>Title</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Dr. John Smith</td>
					<td>89</td> 
					<td>Dentist</td>
  			</tr>

			</tbody>
		</table>
	</div>
	
</div>

<div class="doctors-btn">
	<button type="submit" class="btn btn-success">Next</button>
	<button type="submit" class="btn btn-warning">Skip</button>
	
</div>

<!-- name
rating
title -->


