<div class="condition-select">
	<div class="options" data-toggle="buttons-checkbox">
	  <button type="button" class="btn btn-primary option-select">Single</button>
	  <button type="button" class="btn btn-primary option-select">Have Children or Dependents</button>
	  <button type="button" class="btn btn-primary option-select">Have Chronic Disease</button>
	  <button type="button" class="btn btn-primary option-select">Other Options</button>
	  <button type="button" class="btn btn-primary option-select">Wants $$</button>
	  <button type="button" class="btn btn-primary option-select">Ask Ethel</button>
	</div>
</div>
<div class="plans">
	<div class="plan" id="planA">
		<span class="recommend">We Recommend</span>
		<div class="col-header">Plan A</div>
		<a class="plan-select" href="">Choose</a>
	</div>
	<div class="plan" id="planB">
		<span class="recommend">We Recommend</span>
		<div class="col-header">Plan B</div>
		<a class="plan-select" href="">Choose</a>
	</div>
	<div class="plan" id="planC">
		<span class="recommend">We Recommend</span>
		<div class="col-header">Plan C</div>
		<a class="plan-select" href="">Choose</a>
	</div>
	<div class="plan" id="planD">
		<span class="recommend">We Recommend</span>
		<div class="col-header">Plan D</div>
		<a class="plan-select" href="">Choose</a>
	</div>
</div>