<div class="condition-select">
	<div class="options" data-toggle="buttons-checkbox">
	  <button type="button" class="btn btn-primary option-select">Single</button>
	  <button type="button" class="btn btn-primary option-select">Have Children or Dependents</button>
	  <button type="button" class="btn btn-primary option-select">Have Chronic Disease</button>
	  <button type="button" class="btn btn-primary option-select">Other Options</button>
	  <button type="button" class="btn btn-primary option-select">Wants $$</button>
	  <button type="button" class="btn btn-primary option-select">Ask Ethel</button>
	</div>
</div>
<div class="plans">
	<div class="container">
    <div class="prior-year-prep-wrapper">
        <h2>Great choice! <br class="mb-portrait">We think you'll love<br class="mb-landscape"> your insurance!</h2>
        <h1>How did you do your healthcare <br class="mobile-landscape-text-wrap">last year?</h1>

        <p>Please select one:</p>
        <div class="prior-year-select-box-wrapper center-block">
            <div class="grid-item not-selected" data-com-text="used_turbotax" data-tt-pyp-value="tt">
                <div class="grid-icon">
                    <img src="/handlebars/noncampaign/prior-tax-prep/images/tt-icon.gif" alt="TurboTax Icon">
                </div>
                
    <div class="options" data-toggle="buttons-checkbox">
	  <button type="button" class="btn btn-primary option-select">Doctor</button>
	  <button type="button" class="btn btn-primary option-select">Clinic</button>
	  <button type="button" class="btn btn-primary option-select">Hospital</button>
	  <button type="button" class="btn btn-primary option-select">Specialist</button>
	  <button type="button" class="btn btn-primary option-select">Insurance Carrier</button>
	  <button type="button" class="btn btn-primary option-select">Ask Ethel</button>
	</div>
    <div class="prior-year-prep-buttons" data-com-id="pyprep-interaction">
        <a class="skip-btn" id="prep-skip" href="/mytt_login/createAccount.jsp" data-com-text="skip">Skip this step</a>
        <a id="continue-sign-in" class="btn btn-blue btn-responsive" href="/mytt_login/index.jsp" style="display: none;">Continue</a>
        <a id="continue-sign-up" data-com-text="none" class="btn btn-blue btn-responsive" href="/mytt_login/createAccount.jsp">Continue</a>

    </div>

</div>
</div>