<div class="plans">
	<div class="container">
    <div class="prior-year-prep-wrapper">
        <h2>Great choice! <br class="mb-portrait">We think you'll love your insurance!</h2>
        <h1>How did you do your healthcare last year?</h1>

        <h3>Please select one:</h3>
        <div class="prior-year-select-box-wrapper center-block">
            <div class="grid-item not-selected" data-com-text="used_turbotax" data-tt-pyp-value="tt">
                
                
    <div class="options" data-toggle="buttons-checkbox">
	  <button type="button" class="btn btn-primary option-select">Doctor</button>
	  <button type="button" class="btn btn-primary option-select">Clinic</button>
	  <button type="button" class="btn btn-primary option-select">Hospital</button>
	  <button type="button" class="btn btn-primary option-select">Specialist</button>
	  <button type="button" class="btn btn-primary option-select">Insurance Carrier</button>
	  <button type="button" class="btn btn-primary option-select">Ask Ethel</button>
	</div>
    <div class="prior-year-prep-buttons" data-com-id="pyprep-interaction">
        <a class="skip-btn" id="prep-skip" href="/mytt_login/createAccount.jsp" data-com-text="skip">Skip this step</a>
        <a id="continue-sign-in" class="btn btn-blue btn-responsive" href="/mytt_login/index.jsp" style="display: none;">Continue</a>
        <a id="continue-sign-up" data-com-text="none" class="btn btn-blue btn-responsive" href="/mytt_login/createAccount.jsp">Continue</a>

    </div>

</div>
</div>