<div class="records-select">
	<div class="options" data-toggle="buttons">
		<div class="btn btn-primary option-select">
			<div class="center"><input type="radio" name="options" id="dr"> Doctor Visits</div>
		</div>
		<div class="btn btn-primary option-select">
			<div class="center"><input type="radio" name="options" id="hospital"> Hospital Visits</div>
		</div>
		<div class="btn btn-primary option-select">
			<div class="center"><input type="radio" name="options" id="immunization"> Immunizations</div>
		</div>
	</div>
</div>

<div class="plans record-plans" id = "drs">
	<div class="plan" id = "dr1">
		<div class="col-header">3/27/2015</div>
		<div class="panel panel-group">
	<div class="panel panel-default">
	    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseVisit1">
	      <h3 class="panel-title">Visit</h3>
	    </div>
	    <ul id="collapseVisit1" class="list-group collapse" style="height: 0px;">

	    	<li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Reason</div>
	               <div class="col-xs-6 col-xs-height col-full-height">Broken Leg</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Doctor</div>
	               <div class="col-xs-6 col-xs-height col-full-height">Dr. James Medici</div>
	           </div>
	       </li>
	       
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Location</div>
	               <div class="col-xs-6 col-xs-height col-full-height">467 Grouse Point, VT 05482</div>
	           </div>
	       </li>
	    </ul>
    </div>
    <div class="panel panel-default">
	    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseProblem1">
	      <h3 class="panel-title">Problem</h3>
	    </div>
	    <ul id="collapseProblem1" class="list-group collapse" style="height: 0px;">

	    	<li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Description</div>
	               <div class="col-xs-6 col-xs-height col-full-height">Hair Fractured Tibia</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Status</div>
	               <div class="col-xs-6 col-xs-height col-full-height">Resolved</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Comments</div>
	               <div class="col-xs-6 col-xs-height col-full-height">Injured while horseback riding</div>
	           </div>
	       </li>
	    </ul>
    </div>
    <div class="panel panel-default">
	    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseProcedure1">
	      <h3 class="panel-title">Procedure</h3>
	    </div>
	    <ul id="collapseProcedure1" class="list-group collapse" style="height: 0px;">

	    	<li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Procedure</div>
	               <div class="col-xs-6 col-xs-height col-full-height">Applied Cast</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Doctor</div>
	               <div class="col-xs-6 col-xs-height col-full-height">Dr. Billy Bob</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Location</div>
	               <div class="col-xs-6 col-xs-height col-full-height">505 Main St. Here, AZ</div>
	           </div>
	       </li>
	    </ul>
    </div>
</div>
	</div>
	<div class="plan" id="dr2">
		<div class="col-header">1/3/2015</div>
		<div class="panel panel-group">
			<div class="panel panel-default">
			    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseVisit2">
			      <h3 class="panel-title">Visit</h3>
			    </div>
			    <ul id="collapseVisit2" class="list-group collapse" style="height: 0px;">

			    	<li class="list-group-item">
			           <div class="row">
			               <div class="col-xs-6 col-xs-height col-full-height">Reason</div>
			               <div class="col-xs-6 col-xs-height col-full-height">Broken Leg</div>
			           </div>
			       </li>
			       <li class="list-group-item">
			           <div class="row">
			               <div class="col-xs-6 col-xs-height col-full-height">Doctor</div>
			               <div class="col-xs-6 col-xs-height col-full-height">Dr. Billy Bob</div>
			           </div>
			       </li>
			       
			       <li class="list-group-item">
			           <div class="row">
			               <div class="col-xs-6 col-xs-height col-full-height">Location</div>
			               <div class="col-xs-6 col-xs-height col-full-height">505 Main St. Here, AZ</div>
			           </div>
			       </li>
			    </ul>
		    </div>
		    <div class="panel panel-default">
			    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseProblem2">
			      <h3 class="panel-title">Problem</h3>
			    </div>
			    <ul id="collapseProblem2" class="list-group collapse" style="height: 0px;">

			    	<li class="list-group-item">
			           <div class="row">
			               <div class="col-xs-6 col-xs-height col-full-height">Description</div>
			               <div class="col-xs-6 col-xs-height col-full-height">Hair Fractured Tibia</div>
			           </div>
			       </li>
			       <li class="list-group-item">
			           <div class="row">
			               <div class="col-xs-6 col-xs-height col-full-height">Status</div>
			               <div class="col-xs-6 col-xs-height col-full-height">Resolved</div>
			           </div>
			       </li>
			       <li class="list-group-item">
			           <div class="row">
			               <div class="col-xs-6 col-xs-height col-full-height">Comments</div>
			               <div class="col-xs-6 col-xs-height col-full-height">Injured while horseback riding</div>
			           </div>
			       </li>
			    </ul>
		    </div>
		    <div class="panel panel-default">
			    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseProcedure2">
			      <h3 class="panel-title">Procedure</h3>
			    </div>
			    <ul id="collapseProcedure2" class="list-group collapse" style="height: 0px;">

			    	<li class="list-group-item">
			           <div class="row">
			               <div class="col-xs-6 col-xs-height col-full-height">Procedure</div>
			               <div class="col-xs-6 col-xs-height col-full-height">Applied Cast</div>
			           </div>
			       </li>
			       <li class="list-group-item">
			           <div class="row">
			               <div class="col-xs-6 col-xs-height col-full-height">Doctor</div>
			               <div class="col-xs-6 col-xs-height col-full-height">Dr. Billy Bob</div>
			           </div>
			       </li>
			       <li class="list-group-item">
			           <div class="row">
			               <div class="col-xs-6 col-xs-height col-full-height">Location</div>
			               <div class="col-xs-6 col-xs-height col-full-height">505 Main St. Here, AZ</div>
			           </div>
			       </li>
			    </ul>
		    </div>
		</div>
	</div>
	<div class="plan" id="dr3">
		<div class="col-header">8/2/2013</div>
		<div class="panel panel-group">
			<div class="panel panel-default">
			    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseVisit3">
			      <h3 class="panel-title">Visit</h3>
			    </div>
			    <ul id="collapseVisit3" class="list-group collapse" style="height: 0px;">

			    	<li class="list-group-item">
			           <div class="row">
			               <div class="col-xs-6 col-xs-height col-full-height">Reason</div>
			               <div class="col-xs-6 col-xs-height col-full-height">Broken Leg</div>
			           </div>
			       </li>
			       <li class="list-group-item">
			           <div class="row">
			               <div class="col-xs-6 col-xs-height col-full-height">Doctor</div>
			               <div class="col-xs-6 col-xs-height col-full-height">Dr. Billy Bob</div>
			           </div>
			       </li>
			       
			       <li class="list-group-item">
			           <div class="row">
			               <div class="col-xs-6 col-xs-height col-full-height">Location</div>
			               <div class="col-xs-6 col-xs-height col-full-height">505 Main St. Here, AZ</div>
			           </div>
			       </li>
			    </ul>
		    </div>
		    <div class="panel panel-default">
			    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseProblem3">
			      <h3 class="panel-title">Problem</h3>
			    </div>
			    <ul id="collapseProblem3" class="list-group collapse" style="height: 0px;">

			    	<li class="list-group-item">
			           <div class="row">
			               <div class="col-xs-6 col-xs-height col-full-height">Description</div>
			               <div class="col-xs-6 col-xs-height col-full-height">Hair Fractured Tibia</div>
			           </div>
			       </li>
			       <li class="list-group-item">
			           <div class="row">
			               <div class="col-xs-6 col-xs-height col-full-height">Status</div>
			               <div class="col-xs-6 col-xs-height col-full-height">Resolved</div>
			           </div>
			       </li>
			       <li class="list-group-item">
			           <div class="row">
			               <div class="col-xs-6 col-xs-height col-full-height">Comments</div>
			               <div class="col-xs-6 col-xs-height col-full-height">Injured while horseback riding</div>
			           </div>
			       </li>
			    </ul>
		    </div>
		    <div class="panel panel-default">
			    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseProcedure3">
			      <h3 class="panel-title">Procedure</h3>
			    </div>
			    <ul id="collapseProcedure3" class="list-group collapse" style="height: 0px;">

			    	<li class="list-group-item">
			           <div class="row">
			               <div class="col-xs-6 col-xs-height col-full-height">Procedure</div>
			               <div class="col-xs-6 col-xs-height col-full-height">Applied Cast</div>
			           </div>
			       </li>
			       <li class="list-group-item">
			           <div class="row">
			               <div class="col-xs-6 col-xs-height col-full-height">Doctor</div>
			               <div class="col-xs-6 col-xs-height col-full-height">Dr. Billy Bob</div>
			           </div>
			       </li>
			       <li class="list-group-item">
			           <div class="row">
			               <div class="col-xs-6 col-xs-height col-full-height">Location</div>
			               <div class="col-xs-6 col-xs-height col-full-height">505 Main St. Here, AZ</div>
			           </div>
			       </li>
			    </ul>
		    </div>
		</div>
	</div>
</div>






<div class="plans record-plans" id = "hospitals">
	<div class="plan" id = "hospital1">
		<div class="col-header">8/11/2012</div>
		<div class="panel panel-group">
	 <div class="panel panel-default">
	    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseHVisit1">
	      <h3 class="panel-title">Visit</h3>
	    </div>
	    <ul id="collapseHVisit1" class="list-group collapse" style="height: 0px;">

	    	<li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Reason</div>
	               <div class="col-xs-6 col-xs-height col-full-height">Broken Arm</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Doctor</div>
	               <div class="col-xs-6 col-xs-height col-full-height">Dr. Billy Bob</div>
	           </div>
	       </li>
	       
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Location</div>
	               <div class="col-xs-6 col-xs-height col-full-height">504 Main St. Springfield, AZ</div>
	           </div>
	       </li>
	    </ul>
    </div>
    <div class="panel panel-default">
	    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseHProblem1">
	      <h3 class="panel-title">Problem</h3>
	    </div>
	    <ul id="collapseHProblem1" class="list-group collapse" style="height: 0px;">

	    	<li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Description</div>
	               <div class="col-xs-6 col-xs-height col-full-height">Hair Fractured Humerus</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Status</div>
	               <div class="col-xs-6 col-xs-height col-full-height">Resolved</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Comments</div>
	               <div class="col-xs-6 col-xs-height col-full-height">Injured while horseback riding</div>
	           </div>
	       </li>
	    </ul>
    </div>
    <div class="panel panel-default">
	    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseHProcedure1">
	      <h3 class="panel-title">Procedure</h3>
	    </div>
	    <ul id="collapseHProcedure1" class="list-group collapse" style="height: 0px;">

	    	<li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Procedure</div>
	               <div class="col-xs-6 col-xs-height col-full-height">Applied Cast</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Doctor</div>
	               <div class="col-xs-6 col-xs-height col-full-height">Dr. Billy Bob</div>
	           </div>
	       </li>
	    </ul>
    </div>
</div>
	</div>
</div>






<div class="plans record-plans" id = "immunizations">
	<div class="plan" id = "immune1">
		<div class="col-header">5/5/2010</div>
		<div class="panel panel-group">
	 <div class="panel panel-default">
	    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseIVisit1">
	      <h3 class="panel-title">Visit</h3>
	    </div>
	    <ul id="collapseIVisit1" class="list-group collapse" style="height: 0px;">

	    	<li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Reason</div>
	               <div class="col-xs-6 col-xs-height col-full-height">Flu Vaccine</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Doctor</div>
	               <div class="col-xs-6 col-xs-height col-full-height">Dr. Billy Bob</div>
	           </div>
	       </li>
	       
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Location</div>
	               <div class="col-xs-6 col-xs-height col-full-height">505 Main St. Here, AZ</div>
	           </div>
	       </li>
	    </ul>
    </div>
    <div class="panel panel-default">
	    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseIProcedure1">
	      <h3 class="panel-title">Procedure</h3>
	    </div>
	    <ul id="collapseIProcedure1" class="list-group collapse" style="height: 0px;">

	    	<li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Procedure</div>
	               <div class="col-xs-6 col-xs-height col-full-height">Vaccine</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Doctor</div>
	               <div class="col-xs-6 col-xs-height col-full-height">Dr. Billy Bob</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Location</div>
	               <div class="col-xs-6 col-xs-height col-full-height">505 Main St. Here, AZ</div>
	           </div>
	       </li>
	    </ul>
    </div>
</div>
	</div>
	

	<div class="plan" id = "immune2">
		<div class="col-header">12/4/2006</div>
		<div class="panel panel-group">
	 <div class="panel panel-default">
	    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseIVisit2">
	      <h3 class="panel-title">Visit</h3>
	    </div>
	    <ul id="collapseIVisit2" class="list-group collapse" style="height: 0px;">

	    	<li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Reason</div>
	               <div class="col-xs-6 col-xs-height col-full-height">Flu Vaccine</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Doctor</div>
	               <div class="col-xs-6 col-xs-height col-full-height">Dr. Billy Bob</div>
	           </div>
	       </li>
	       
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Location</div>
	               <div class="col-xs-6 col-xs-height col-full-height">505 Main St. Here, AZ</div>
	           </div>
	       </li>
	    </ul>
    </div>
    <div class="panel panel-default">
	    <div class="panel-heading chevron-toggle collapsed" data-toggle="collapse" data-target="#collapseIProcedure2">
	      <h3 class="panel-title">Procedure</h3>
	    </div>
	    <ul id="collapseIProcedure2" class="list-group collapse" style="height: 0px;">

	    	<li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Procedure</div>
	               <div class="col-xs-6 col-xs-height col-full-height">Vaccine</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Doctor</div>
	               <div class="col-xs-6 col-xs-height col-full-height">Dr. Billy Bob</div>
	           </div>
	       </li>
	       <li class="list-group-item">
	           <div class="row">
	               <div class="col-xs-6 col-xs-height col-full-height">Location</div>
	               <div class="col-xs-6 col-xs-height col-full-height">505 Main St. Here, AZ</div>
	           </div>
	       </li>
	    </ul>
    </div>
</div>
	</div>
</div>

