<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Next Steps</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="well">
        Check your email. We sent you a confirmation.
      </div>
    </div>

    <div class="col-sm-4">
      <div class="well">
        Wait about a week for your insurance cards to arrive. In the meantime, the doctor's office can look up your info.
      </div>
    </div>

    <div class="col-sm-4">
      <div class="well">
        Rest easy knowing you are covered for routine care as well as in the event of an emergency!
      </div>
    </div>
  </div>
</div>

