<form>
  <h3>Sign in to get started</h3>

  <div class="row">

    <div class="col-md-6">
      <label for="InputEmail">Email</label>
      <input type="text" class="form-control" id="InputEmail" ng-model="form.email" placeholder="Enter your email address">
    </div>

    <div class="col-md-6">
      <label for="InputPassword">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" ng-model="form.password" placeholder="Enter your password">
    </div>
  </div>

  <br>

  <button type="submit" class="btn btn-success" ng-click="submit()">Submit</button>
</form>

