header.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding: 15px;
  background-color: #057ff4;
  color: #fff;
  text-align: center;
}
.jumbotron h1, .jumbotron h2 {
  text-shadow: 0 1px .5px #000;
}
.jumbotron h2 {
	margin-bottom: 30px;
}
.sub-jumbotron {
	margin: -45px -15px -15px -15px;
	min-height: 240px;
	background-color: #eee;
}
.sub-jumbotron h2 {
	margin-top: 60px;
	color: #000;
	font-size: 27px;
}
.sub-jumbotron p {
	color: #555;
	font-size: 18px;
	margin-left: 200px;
	margin-right: 200px;
}

main {
  margin-top: 20px;
}

.main p {
  font-size: 16px;
}
.doctors-row {
  margin-top: 20px;
  margin-bottom: 20px;
}
.doctors-profile {
	min-height: 400px;
	background-color: #ddd;
	padding-top: 20px;
	border: 1px solid #ddd;
}
dt {
	margin-bottom: -5px;
}
.doctors-btn {
  float: right;
}
thead {
  background-color: #0071de;
  color: #bbdfff;
}
img {
  margin-bottom: 5px;
}

.doctor-table .doctor {
  cursor: pointer;
}
.doctor-table .doctor.current td{
  background-color: #ddd;
}

.view-details {
  margin-top: 12px;
}



