.condition-select input[type="checkbox"] {
	display: none;
}
.records-select input[type="radio"] {
	display: none;
}
.panel-heading {
	cursor: pointer;
}
.options {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}
.option-select {
	background-color: #d2d6de;
	border-color: #d2d6de;
	display: table;
	padding: 5px;
	width: 15%;
	height: 150px;
	margin-top: 10px;
	color: white;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	white-space: normal;
}
.records-select .option-select {
	width: 31%;
}
.option-select:active, .option-select:hover, .option-select:focus {
	background-color: #d2d6de;
	border-color: #d2d6de;
}
.option-select.active {
	background-color: #00a65a;
}
.option-select .center {
	display: table-cell;
	vertical-align: middle;
}
.plans {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin-top: 20px;
}
.plans .plan {
	flex-grow: 1;
	margin-left: 2px;
	margin-right: 2px;
	text-align: center;
}
.col-header {
	background-color: lightGray;
}
.recommend {
	background-color: #00c0ef;
	color: white;
	display: block;
	visibility: hidden;
	width: 100%;
}
.plan-select {
	color: black;
	text-decoration: none;
	border: 1px solid lightGray;
	padding: 3px 8px;
	width: 60px;
	display: block;
	margin-right: auto;
	border-radius: 8px;
	margin-left: auto;
	margin-top: 15px;
}
.plan-select:hover {
	color: darkGray;
	text-decoration: none;
}
.record-plans {
	display: none;
}
.record-plans.active {
	display: block;
}


.highlight .recommend {
	visibility: visible;
}
.highlight .col-header {
	background-color: #00c0ef;
	color: white;
}
.highlight .plan-select {
	background-color: #f39c12;
}
.highlight .plan-select:hover {
	color: #ffffff;
}
@media screen and (max-width: 1201px) {
	.option-select {
		width: 31%;
	}
}
